<a tabindex="0" role="button" data-html="<%= local_assigns[:html] || false %>"
             data-toggle="tooltip" data-placement="<%= local_assigns[:placement] || 'right'%>"
             title='<%= title %>'>
  <i class="<%= icon_class %>" data-feather="<%= icon_name %>"></i>
</a>
