<div class="container-fluid px-5">
  <div class="d-flex align-items-center justify-content-between">
    <div class="pr-5">
      <h1><%= EvaluationCriterium.model_name.human(count: 2) %></h1>
      <p class="text-muted"><%= t('activerecord.models.evaluation_criterium.ui_description').html_safe %></p>
    </div>
    <div>
      <%= link_to "New #{EvaluationCriterium.model_name.human}", new_evaluation_criterium_path,
                                              class:"sticky-button btn btn-secondary btn-lg py-3 text-nowrap" %>
    </div>
  </div>
  <p id="notice"><%= notice %></p>
  <div class="card-columns">
    <% @evaluation_criteria.each do |criterion| %>
      <div class="card border-primary mb-3">
        <div class="card-header text-primary font-weight-bold"><%= criterion.name %></div>
        <div class="card-body">
          <p class="card-text"><%= criterion.short_description %></p>
          <div class="text-right">
            <%= link_to t('controllers.actions.edit').titleize, edit_evaluation_criterium_path(criterion), class: "btn btn-outline-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
